/**
 * Basic typography style for copy text
 */

body {
    font-size: $size-p;
}

h1, .h1 {
    font-size: $size-h1;
    font-weight: $fw-black;
}
h2, .h2 {
    font-size: $size-h2;
}
h3, .h3 {
    font-size: $size-h3;
}
p, .p {
    font-size: $size-p;
}
small, .small {
    font-size: $size-small;
}

.txt-brand {
    color: $brand-color;
}

.txt-light-grey {
    color: $light-grey;
}
.txt-grey {
    color: $mid-grey;
}
.txt-dark-grey {
    color: $dark-grey;
}

.txt-ui-green {
    color: $brand-success;
}
.txt-ui-red {
    color: $brand-danger;
}


.fw-black {
    font-weight: $fw-black;
}
.fw-bold {
    font-weight: $fw-bold;
}

.uppercase {
    text-transform: uppercase;
}
