
$btn-play-w: 250px;

.btn-play {
    padding: $gutter;
    width: $btn-play-w;
    margin: 60px auto 0;
    text-align: center;
    background-color: $brand-color;
    color: $white;
    font-weight: $fw-bold;
    font-size: $size-h2;
    z-index: 5;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    @include border-radius (50px)
    @include center-abs;
    top: 60%;


    @include on-event {
        color: $white;
        text-decoration: none;
        transform: translate(-50%, -50%) scale(1.0);
    }

    span {
        transition: transform .4s ease-in, opacity .4s ease-in;
        transform: translate(0, -40px);
        opacity: 1;

        &.moved {
            transform: translate(0, 0);
            opacity: 1;
        }
    }



}
