// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------

.btn {
  display: inline-block;
  border: 0;
  border-radius: $btn-border-radius;
  font-size: $size-h3;
  text-align: center;
  width: $btn-width;
  padding: $btn-padding;

  @include on-event {
    text-decoration: none;
  }
}

.center-buttons {
  .btn {
    display: inline-block;

    &:first-child {
      margin-right: 20px;
    }
  }
}

.btn-principal-1 {

}

.btn-principal-2 {

}

.btn-secondaire-1 {
  background-color: $light-grey;
  color: $white;

  @include on-event {
    background-color: $brand-color;
    transition: background-color $anim-base;
    color: $white;
  }

}

.btn-secondaire-2 {

}

.back-home {
    color: $brand-color;
    position: absolute;
    top: $gutter;
    right: $gutter;
    display: none;
    transition: opacity $anim-base;

    &.opaq {
        opacity: 0;
    }
}
