// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

/// Event wrapper
/// @author Harry Roberts
/// @param {Bool} $self [false] - Whether or not to include current selector
/// @link https://twitter.com/csswizardry/status/478938530342006784 Original tweet from Harry Roberts
@mixin on-event($self: false) {
  @if $self {
    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  } @else {
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}

/// Make a context based selector a little more friendly
/// @author Hugo Giraudel
/// @param {String} $context
@mixin when-inside($context) {
  #{$context} & {
    @content;
  }
}

@mixin shadow() {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
}

//media queries

  /* from... */
  @mixin media-min($_key) {
      @media screen and (min-width: map-get($breakpoints, $_key)) {
          &{ @content; }
      }
  }
  /* to... */
  @mixin media-max($_key) {
      @media screen and (max-width: map-get($breakpoints, $_key) - 1) {
          &{ @content; }
      }
  }
  /* from... to... */
  @mixin media-between($_keymin, $_keymax) {
      @media screen and (min-width: map-get($breakpoints, $_keymin)) and (max-width: map-get($breakpoints, $_keymax) - 1) {
          &{ @content; }
      }
  }

//mixin
  @mixin clearfix() {
      &:before,
      &:after {
          content: "";
          display: table;
      }
      &:after {
          clear: both;
      }
  }

  @mixin border-radius($radius) {
    -webkit-border-radius: $radius;
       -moz-border-radius: $radius;
        -ms-border-radius: $radius;
            border-radius: $radius;
  }

  // element centered with absolute and transform
  @mixin center-abs() {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
