// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Main brand color
/// @type Color
$brand-color: #f18832;

/// greys
$white: #fff;
$light-grey: #C9C8C7;
$mid-grey: #949391;
$dark-grey: #292623;

// UI
$brand-success: #00ce51;
$brand-warning: #eec72c;
$brand-danger: #ee2c2c;

/// Container's maximum width
$max-width: 1180px !default;

/// Layout
$gutter: 15px;


/// Breakpoints map
/// @prop {String} keys - Keys are identifiers mapped to a given length
/// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
    "break-xs" :480px,
    "break-sm": 576px,
    "break-md": 768px,
    "break-lg": 992px,
    "break-xl": 1200px
) !default;

// Call with mixin like this
// /* from... */
// @include media-min('break-xs'){
//     ... code
// }
// /* to... */
// @include media-max('break-sm') {
//     ... code
// }
// /* from... to... */
// @include media-between('break-md', 'break-xl')
//     ... code
// }




/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: 'http://cdn.example.com/assets/';
$base-url: '/assets/' !default;



// Typography
/// font size
$size-h1: 38px;
$size-h2: 28px;
$size-h3: 21px;
$size-p: 16px;
$size-small: 12px;
// font weight
$fw-black: 900;
$fw-bold: 600;
$fw-md: 500;
$fw-reg: 400;
$text-color: $dark-grey;

// Navbar
$navbar-default-bg: #fff;

// Buttons
$btn-default-color: $text-color;
$btn-width:250px;
$btn-border-radius:25px;
$btn-padding:12px;

// animation transition
$anim-base: .2s ease-in;
