@charset 'UTF-8';

// 1. Configuration and helpers
@import
  'abstracts/variables',
  // 'abstracts/functions',
  'abstracts/mixins';

// 2. Vendors
@import
  'vendor/reset',
  'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/variables',
  'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/mixins',
  'node_modules/bootstrap-sass/assets/stylesheets/bootstrap/grid';

// 3. Base stuff
@import
  'base/base',
  'base/fonts',
  'base/typography',
  'base/helpers';

// 4. Layout-related sections
@import
  'layout/sidebar',
  'layout/chose-players';

// 5. Components
@import
  'components/button',
  'components/btn-play',
  'components/avatar',
  'components/forms',
  'components/settings',
  'components/bet';

// 6. Page-specific styles
@import
  'pages/home';
